<div class="container">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNoteModal" data-bs-whatever="@mdo">
        Create Note<i class="bi bi-file-plus"></i>
    </button>


    <div class="row">
        <div class="card card-body" *ngFor="let note of notesData ">
            <h5>{{note.note_title}}</h5>
            <p class="text-muted">
                {{note.note_desc}}
            </p>
            <div class="d-flex align-items-center">
                <span class="mx-3">
                    <i class="bi bi-pen" data-bs-toggle="modal" data-bs-target="#editNoteModal"></i>
                </span>
                <span class="mx-3">
                    <i class="bi bi-trash" (click)="deleteNote(note)"></i>
                </span>
            </div>
        </div>
    </div>



    <!--Add note modal-->
    <div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Daily Notes</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="noteForm">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Note Tile:</label>
                <input type="text" class="form-control" id="recipient-name" formControlName="title">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Note Description:</label>
                <textarea class="form-control" id="message-text" formControlName="description"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addNote()" [disabled]="noteForm.invalid">Add Note</button>
          </div>
        </div>
      </div>
    </div>


   <!--Edit note modal-->
    <div class="modal fade" id="editNoteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Notes</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Note Tile:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Note Description:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Edit Note</button>
            </div>
          </div>
        </div>
      </div>


</div>